.playlistsContainer {
    height: 40vh;
    max-height: 37vh;
    overflow-y: scroll;
}

/* .playlistsContainer::-webkit-scrollbar {
    width: 50px;
  } */
/* .playlistsContainer::-webkit-scrollbar-thumb{
    background-color: yellow;

} */
/* div::-webkit-scrollbar {
  width: 1em;
} */
.playlistsContainer::-webkit-scrollbar {
  width: 0.7em;
}
 
.playlistsContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}
.playlistsContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  /* border-radius: 20px; */
}
