

.myPlaylistsWrapper {
    margin-top: 30px;
  }
  .myPlaylistsWrapper > div {
    display: flex;
    margin-bottom: 0px;
  }
  .myPlaylistsWrapper > div > span {
    margin-left: auto;
    color: #9f9ea1;
    cursor: pointer;
  }
  
  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -20px;
  }
  .table > div {
    display: flex;
    align-items: center;
    width: fit-content;
    /* justify-content: space-between; */
    padding-left: 20px;
  }
  .rowHead {
    font-weight: 100;
    color: #9f9ea1;
  }
  
  .rowHead > div:nth-child(1) {
    width: 50px;
  }
  .rowHead > div:nth-child(2) {
    width: 160px;
  }
  .rowHead > div:nth-child(3) {
    width: 130px;
  }
  .rowHead > div:nth-child(4) {
    width: 50px;
  }
  .rowHead > div:nth-child(5) {
    width: 160px;
  }
  